@()(implicit req: RequestHeader)

@scripts = {
    <script type="text/javascript" src="@routes.Assets.versioned("lib/requirejs/require.js")"></script>
    <script>
        requirejs(['@routes.Assets.versioned("javascripts/common.js")'], function(common) {
            requirejs(['./assets/javascripts/app/containersPage'])
        });
    </script>
}

@main("Containers", scripts) {
    <h4>Containers (<span data-bind="text: containers().length"></span>)</h4>
    <ul data-bind="foreach: containers">
        <li data-bind="text: name"></li>
    </ul>
}
