@()(implicit req: RequestHeader)

@scripts = {
    <script type="text/javascript" src="@routes.Assets.versioned("lib/requirejs/require.js")"></script>
    <script>
        requirejs(['@routes.Assets.versioned("javascripts/common.js")'], function(common) {
            requirejs(['./assets/javascripts/app/containersPage'])
        });
    </script>
}

@sidebar = {
    <div class="col-md-2 top-buffer">
        <h3>Containers (<span data-bind="text: containers().length"></span>)</h3>
        @filterForm
        <div data-bind="foreach: containers" class="list-group top-buffer">
            <a data-bind="click: function(){$root.selectedCont($data)}" href="#" class="list-group-item">
                <h4 data-bind="text: names[0]" class="list-group-item-heading"></h4>
                <p data-bind="text: status" class="list-group-item-text"></p>
            </a>
        </div>
    </div>
}

@filterForm = {
    <div class="form-inline">
        <div class="input-group">
            <div class="input-group-addon">--filter</div>
            <input data-bind="textInput: filterKey" type="text" class="form-control" placeholder="key">
            <div class="input-group-addon">=</div>
            <input data-bind="textInput: filterValue" type="text" class="form-control" placeholder="value">
            <div class="input-group-btn">
                <button data-bind="click: getContainers" type="submit" class="btn btn-primary">Ok</button>
            </div>
        </div>
    </div>
}

@content = {
    <div class="col-md-10">
        <div class="row">
            <h3 data-bind="text: selectedCont().names[0]"></h3>
        </div>
        <div class="row">
            <button data-bind="click: startSelectedContainer" type="button" class="btn btn-primary">Start</button>
            <button data-bind="click: execInSelectedContainer" type="button" class="btn btn-primary">Exec</button>
            <button data-bind="click: stopSelectedContainer" type="button" class="btn btn-warning">Stop</button>
            <button data-bind="click: deleteSelectedContainer" type="button" class="btn btn-danger">Delete</button>
        </div>
        <div class="row top-buffer">
            <pre data-bind="text: JSON.stringify(selectedCont(), null, ' ')"></pre>
        </div>
    </div>
}

@main("Containers", scripts) {
    <div class="row">
        @sidebar
        @content
    </div>
}
