@(message: String)(implicit req: RequestHeader)

@scripts = {
    <script type="text/javascript" src="@routes.Assets.versioned("lib/requirejs/require.js")"></script>
    <script>
        requirejs(['@routes.Assets.versioned("javascripts/common.js")'], function(common) {
            requirejs(['./assets/javascripts/app/indexPage'])
        });
    </script>
}

@main("Welcome to Play", scripts) {

    <div data-bind="text: connecting"></div>
    <div data-bind="text: messages().length"></div>
    <button data-bind="click: dockerInfo">DockerInfo</button>
    <button data-bind="click: dockerImages">DockerImages</button>
    <button data-bind="click: dockerContainers">DockerContainers</button>
    <h4>Messages</h4>
    <pre data-bind="foreach: messages">
        <div data-bind="text: message"></div>
    </pre>
}
