@(title: String)(content: Html)(implicit req: RequestHeader)

<!DOCTYPE html>

<html lang="en">
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
        @helper.javascriptRouter("jsRoutes")(
            routes.javascript.Application.stream
        )
        <script data-main="@routes.Assets.versioned("javascripts/main.js")" type="text/javascript" src="@routes.Assets.versioned("lib/requirejs/require.js")"></script>
    </head>
    <body>
        @content
    </body>
</html>
